@tailwind base;
@tailwind components;
@tailwind utilities;

.remove-image {
    margin-top: 10px;
}

.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  li:hover .project-title {
    opacity: 1;
  }


  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .transition-opacity {
    transition-property: opacity;
    transition-duration: 0.5s;
  }