@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif !important;
  font-weight: 300;
}

p, a, div {
  font-family: 'Lato', sans-serif !important;
}

.remove-image {
    margin-top: 10px;
}

.project-title {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0.5rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.75);
    opacity: 0;
    transition: opacity 0.5s;
  }
  
  li:hover .project-title {
    opacity: 1;
  }


  .opacity-0 {
    opacity: 0;
  }
  
  .opacity-100 {
    opacity: 1;
  }
  
  .transition-opacity {
    transition-property: opacity;
    transition-duration: 0.5s;
  }

  .entry-content ul, .entry-content ol {
    padding: 0;
    margin: 0;
  }

  h2, .entry-content h2 {
    font-weight: 300;
  }

  .p-sidebar-header {
    background-color: aliceblue;

  }